data/
wandb/
build/
data/
outputs/
runners/
.vscode/
.ipynb_checkpoints/
__pycache__/
*.pyc
setup.cfg
*.egg-info/
*.egg
*.toml
LICENSE
download_pretrained_retrievers.py
a.py
b.py
c.ipynb
my_openai_key.py
key.txt
logs/*
logs/retriever_finetuning/*
key.txtanalysis/tmp.json
analysis/train_zero_log.json
analysis/preference_data.json
*.out
*log*
preliminary_logs
preliminary_logs/*